.task
	&__title
		font-size: 20px
		text-transform: uppercase
		padding: 0 0 10px
	&__subtitle
		padding: 0 0 5px
	&__progress
		height: 5px
		background-color: rgb(0, 188, 212)
		position: absolute
		top: -20px
		left: -15px
		transition: 0.3s all ease

.subtask
	&__item
		font-weight: 400
		margin: 10px 0