.whoweare
	&__items
		margin: 0 -15px
		&:after
			content: ''
			clear: both
			display: table
	&__item
		float: left
		width: 50%
		padding: 0 15px
		margin-bottom: 30px
		&:after
			content: ''
			display: table
			clear: both
		&Icon
			font-family: 'my-font'
			font-size: 60px
			line-height: 60px
			float: left
			width: 10%
			text-align: center
			color: #4298EB
		&Inner
			float: left
			width: 90%
		&Title
			font-size: 18px
			text-transform: uppercase
			padding-bottom: 15px
		&Text
			font-weight: 500

$slidersize: 300px;

.page
	&Slider
		position: relative
		margin-bottom: 80px
		width: 3*$slidersize+50
		margin: auto
		overflow: hidden
		&__items
			margin: 0 -10px
			&:after
				display: table
				clear: both
				content: ''
		&__item
			float: left
			width: $slidersize
			vertical-align: top
			margin: 0 10px
			td
				border: none
				text-align: center
			&ImgWrap
				border: none
				min-width: $slidersize
				max-width: $slidersize
				min-height: $slidersize
				max-height: $slidersize
				height: $slidersize
				margin: 0
				padding: 0
				text-align: center
			&TextWrap
				padding: 10px
			&Img
				display: block
				max-width: 100%
				max-height: 100%
				margin: auto
			&Name
				font-size: 18px
			&Descr
				font-weight: 400
		&__controls
			position: absolute
			left: 0
			right: 0
			top: 50%
		&__control
			position: absolute
			top: 0
			transform: translate(0, -50%)
			&_left
				left: 0
			&_right
				right: 0

.breadcrumbs
	&__items
		list-style-type: none
		padding: 15px 0 0
		margin: 0
	&__item
		display: inline-block
		padding: 0 6px
		&:after
			content: '>'
			margin-left: 16px
		&:first-child
			padding-left: 0
		&:last-child
			&:after
				display: none

.slidershow-container
	max-width: 1000px
	position: relative
	margin: auto
	img
		width: 100%

.prev,.next
	cursor: pointer
	position: absolute
	top: 50%
	width: auto
	margin-top: -22px
	padding: 16px
	color: #fff
	font-weight: bold
	font-size: 18px
	transition: 0.6s ease all
	border-radius: 0 3px 3px 0
	&:hover
		background-color: rgba(0,0,0,0.8)

.next
	right: 0
	border-radius: 3px 0 0 3px

.text
	color: #f2f2f2
	font-size: 12px
	padding: 8px 12px
	position: absolute
	top: 0

.dots
	text-align: center
.dot
	cursor: pointer
	width: 13px
	height: 13px
	margin: 0 2px
	background-color: #bbb
	border-radius: 50%
	display: inline-block
	transition: 0.6s ease
	&.active,
	&:hover
		background-color: #717171

.fade
	animation-name: fade
	animation-duration: 1.5s

@keyframes fade
	from
		opacity: .4
	to
		opacity: 1

