.taskList
	&__empty
		color: red
	&__items
	&__item
		font-weight: 400
		padding: 10px 0
		&Progress
			display: inline-block
			vertical-align: middle
			width: 80px
			&:before
				content: 'Progress:'
				color: #000
				font-weight: 900
				display: none
		&Text
			display: inline-block
			vertical-align: middle
			text-decoration: none
			width: 220px
			&:before
				content: 'Task name:'
				color: #000
				font-weight: 900
				display: none
		&Link
			// text-decoration: none
			&:hover
				text-decoration: none
		&Project
			width: 200px
			display: inline-block
			vertical-align: middle
			&:before
				content: 'Project name:'
				color: #000
				font-weight: 900
				display: none
		&Creator
			width: 150px
			display: inline-block
			vertical-align: middle
			&:before
				content: 'Creator:'
				color: #000
				font-weight: 900
				display: none
		&Receiver
			&:before
				content: 'Receiver:'
				color: #000
				font-weight: 900
				display: none
		&_head
			font-weight: 500
			span
				&:before
					display: none

.paginationWrap
	text-align: center
	padding-top: 30px
.pagination
	display: inline-block
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block
		padding: 0 3px
		&.disabled
			display: none
		a
			cursor: pointer
			text-decoration: none
			font-size: 16px
			padding: 0 3px
			&:hover
				text-decoration: underline
		&.active
			a
				text-decoration: underline
				cursor: auto


@media only screen and (max-width : 1100px) and (min-width : 768px)
	.taskList__itemProject,
	.taskList__itemText
		width: 130px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		margin-right: 5px
	.taskList__itemText
		width: 150px

@media only screen and (max-width : 768px)
	.taskList__item
		border-top: 1px solid lightgrey
	.taskList__itemProgress,
	.taskList__itemText,
	.taskList__itemProject,
	.taskList__itemCreator,
	.taskList__itemReceiver
		display: block
		width: 100%
		margin-bottom: 10px
		&:before
			display: block
	.taskList__item_head
		display: none







