.taskList
	&__empty
		color: red
	&__items
	&__item
		font-weight: 400
		padding: 10px 0
		&Progress
			display: inline-block
			vertical-align: middle
			width: 80px
		&Text
			display: inline-block
			vertical-align: middle
			text-decoration: none
			width: 220px
		&Link
			// text-decoration: none
			&:hover
				text-decoration: none
		&Project
			width: 200px
			display: inline-block
		&Creator
			width: 150px
			display: inline-block
		&_head
			font-weight: 500